@model IEnumerable<tutorial.Models.TopDowntimeModel>

@{
    ViewData["Title"] = "Index";
}


<div>
    <form asp-controller="AwarieGM3" asp-action="DisplayTop" asp-route-id="search">
        Od: <input name="start" new { class="datefield" , type="date" } />
        Do: <input name="stop" new { class="datefield" , type="date" }" />
        Sekcja: <input id="asp" name="asp" new { class="button" , type="text" }" />
        <input type="submit" value="Filter" />
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sekcja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaWystapien)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(item => item.TotalMinutes))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sekcja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stacja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaWystapien)
            </td>
            <td>
                @*<a asp-action="DetailsTops" data-bind="@item.Ids.ToList()" asp-route-id="@item.Ids.ToList()">Details</a>*@
            </td>
            <td>
            @{
                string buf = "";
                foreach (var hui in item.Ids)
                {
                    buf += hui + "q";


                }
                var url = "/AwarieGM3/DetailsTops/" + buf;
                <a href="@url">Details</a>
            }
            </td>
        </tr>
        }


        </tbody>
</table>
